<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="SIMSConnection"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=SIMS_DB;Integrated Security=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>